# Compiled class files
*.class

# Log files
*.log

# Maven target directory
target/

# Build artifacts
*.jar
*.war
*.ear

# IDE-specific files (IntelliJ IDEA, Eclipse, VS Code, NetBeans)
### IntelliJ ###
.idea/
*.iml
*.iws
out/

### Eclipse ###
*.classpath
*.project
*.settings/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/build/
